*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color-1: #6495ed;
  --primary-color-2: #5172e7;
  --primary-color-3: #4841ff;

  --white-color: #fff;
  --gray-color: #c0c0c0;

  --border: 3px solid var(--primary-color-2);
  --border-transparent: 3px solid transparent;

  --box-shadow: 0 4px 8px var(--primary-color-3);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  background: linear-gradient(
    to right,
    var(--primary-color-1),
    var(--primary-color-2),
    var(--primary-color-3)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 90vw;
  width: 30rem;
  padding: 1.5rem 2.5rem;
  background-color: var(--white-color);
  border-radius: 16px;
  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
}

.quote-header {
  font-family: Georgia, serif;
  text-align: center;
  font-size: 2.2rem;
}

.input-generator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.input-generator__form {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.input-generator__input {
  flex-grow: 1;
  padding: 1rem;
  border-radius: 16rem;
  border: var(--border);
  transition: box-shadow 0.3s;
}

.input-generator__input:focus {
  outline: none;
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.input-generator__btn {
  width: 2rem;
  height: 2rem;

  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  background-color: transparent;
  border: none;
  fill: var(--primary-color-2);
}

.input-generator__btn svg {
  width: 1.7rem;
  height: 1.7rem;
}

.input-generator__btn:hover {
  fill: var(--primary-color-3);
  cursor: pointer;
}

.quote__container {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  text-align: center;
}

.quote {
  word-wrap: break-word;
}

.quote__author {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-style: italic;
  text-align: right;
  word-wrap: break-word;
}

.quote-footer {
  margin-top: 1.25rem;
  padding-top: 1rem;
  border-top: 1px solid var(--gray-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 1rem;
  border: var(--border-transparent);
  border-radius: 50px;
  background-color: var(--primary-color-2);
  color: var(--white-color);
  font-size: 1rem;
  transition: all 0.4s;
}

.btn:hover {
  border: var(--border);
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color-2);
  cursor: pointer;
  transform: translateY(-1px);
}

.helper-btn {
  width: 3.5rem;
  height: 3.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: var(--border);
  border-radius: 50rem;
  color: var(--primary-color-2);
  transition: 0.3s;
}

.helper-btn svg {
  width: 70%;
  height: 70%;
  fill: currentColor;
}

.helper-btn:hover {
  background-color: #5172e71a;
  color: var(--primary-color-3);
  border: var(--border-transparent);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transform: translateY(-1px);
}
